<h1><%= @pirate.name %> <%= @pirate.height %> <%= @pirate.weight %></h1>

<h2><%= @ships.first.name %> <%= @ships.first.type%> <%= @ships.first.booty%></h2>

<h2><%= @ships.last.name %> <%= @ships.last.type%> <%= @ships.last.booty%></h2>
